body {
  margin: 0;
}

.wrapper {
  background-image: url("i.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-inside {
  height: 100%;
  background-color: rgba(9, 12, 61, 0.562);
}
header {
  padding: 20px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  text-decoration: underline;
  text-align: center;
}

.group {
  background-color: brown;
  width: 160px;
  height: 160px;
  color: white;
  margin: 0px 150px;
  text-align: center;
  line-height: 9;
}

.column {
  background-color: rgb(165, 42, 110);
  width: 160px;
  height: 160px;
  margin: 5px 150px;
  color: white;
  text-align: center;
  line-height: 9;
}

.rectangle {
  background-color: rgb(52, 165, 42);
  width: 160px;
  height: 80px;
  color: rgb(7, 7, 7);
  text-align: center;
  line-height: 5;
  font-family: sans-serif;
  margin: 0px 150px;
}
.rectangle-nearby {
  background-color: rgb(210, 224, 14);
  width: 160px;
  height: 80px;
  color: rgb(7, 7, 7);
  text-align: center;
  line-height: 5;
  font-family: sans-serif;
  margin: 5px 150px;
}

footer {
  position: relative;
  font-size: 0;
}

.logo img {
  width: 50px;
  height: 50px;
  background-color: #0078d7;
}

.logo {
  background-color: rgba(19, 16, 16, 0.89);
}
